#include "ConfigCommon.xcconfig"
#include "ConfigCommonRelease.xcconfig"
#include "ConfigFramework.xcconfig"

// disabled notices and warnings for IB in release, since our continuous integration scripts
// pick these up from the log and complain about them; someone should really fix these warnings, but that's beyond our scope right now
IBC_NOTICES = NO
IBC_WARNINGS = NO
