#include "ConfigCommon.xcconfig"

// Release only

SPARKLE_ALLOW_ARBITRARY_HTTP_LOADS = 0

GCC_OPTIMIZATION_LEVEL = s
SWIFT_OPTIMIZATION_LEVEL = -Ofast
DEBUG_INFORMATION_FORMAT = dwarf-with-dsym
GCC_GENERATE_DEBUGGING_SYMBOLS = YES
GCC_PREPROCESSOR_DEFINITIONS = $(GCC_PREPROCESSOR_DEFINITIONS_COMMON) SPARKLE_ALLOW_ARBITRARY_HTTP_LOADS=$(SPARKLE_ALLOW_ARBITRARY_HTTP_LOADS)
DEAD_CODE_STRIPPING = YES
GCC_TREAT_WARNINGS_AS_ERRORS = NO
GCC_WARN_UNINITIALIZED_AUTOS = YES
