// PersistentDownloader

INFOPLIST_FILE = PersistentDownloader/Info.plist
WRAPPER_EXTENSION = xpc
PRODUCT_BUNDLE_IDENTIFIER = ${PERSISTENT_DOWNLOADER_BUNDLE_ID}
PRODUCT_NAME = ${PERSISTENT_DOWNLOADER_BUNDLE_ID}
CODE_SIGN_ENTITLEMENTS = PersistentDownloader/${PERSISTENT_DOWNLOADER_BUNDLE_ID}.entitlements
