<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>All.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>Autoupdate.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>BinaryDelta.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>Distribution.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Documentation.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>Sparkle Test App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>Sparkle.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>UITests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>fileop.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>generate_appcast.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>generate_keys.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>sign_update.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1420DF491962329200203BB0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>14732BC51960F69300593899</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1495005F195FB89400BC5B5B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>55C14BB6136EEF1500649790</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5A5ADED6214EDE4900DF0099</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5AA96C541E0AE0DB00CA4346</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5AB8F19E214DA72000A1187F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5D06E8CF0FD68C7C005AE3F6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>612279D80DB5470200AB99EA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>61B5F90109C4CEE200B25A18</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>722954B31D04ADAF00ECF9CA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>726B2B5C1C645FC900388755</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8DC2EF4F0486A6940098B216</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
